demo/.godot/
demo/bin/*.dll
demo/bin/*.exp
demo/bin/*.lib
demo/bin/*.pdb
demo/bin/*.so
demo/bin/*.dylib
demo/bin/*.wasm
demo/bin/*.a
demo/bin/*.xcframework/
build/
.sconsign.dblite
compile_commands.json
*.obj
*.o
*.ilk
*.log
*.tmp
